*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.corpoHome{
    height: 100%;
    width: 100%;

}

.container{
    display: flex;
    width: 90%;
    margin: auto;
    height: fit-content;
    border: 2px red solid;
}