/* 

 #B3A100;
 #FFEA27;
 #FFE500;
 #2700B3;
 #3800FF;
 #1c5ace;

 background: #01468B;

logo 

#fcfcfc;
#efc22c;
#f0cf4b;
#f2dc6a;
#f4ea89;


*/

* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    font-family: 'Poppins', Verdana, sans-serif;

}



.header {
    background: black;
    color: white;
    width: 100%;
    height: 90px;
    border-bottom: 2px #FFE500 solid;
    box-shadow: px 3px 2px 3px #FFE500;
   
}

.container {
    display: flex;
    width: 90%;
    margin: auto;
    height: fit-content;
}

.header .container {
    align-items: center;
    justify-content: space-between;

}

.nav {
    display: flex;
    width: 100%;
}

.header a {
    text-decoration: none;
    color: white;

}


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFE500;
    /* 
    margin-top: 5px; */
}


.login img {
    width: 65px;
    padding: 2px;
}

.navLinks {
    display: flex;
    width: 20%;
    justify-items: center;
    text-align: center;
    justify-content: space-between;

}


.navLinksI {
    display: flex;
    width: 40%;
    justify-items: center;
    text-align: center;
    justify-content: space-between;

}

.navLinksI .agora {
    display: flex;
    padding-top: 32px;

}

.navLinks .agora {
    display: flex;
    padding-top: 32px;

}

.titulo {
    color: white;
    width: fit-content;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 35px;
    background-image: linear-gradient(45deg, #f4ea89, #FFE500);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


.corpo {
    height: max-content;
    padding: 40px;
    color: white;
    background-image: url("https://wallpapercave.com/wp/wp2299908.jpg"); 
    background-image: url("https://images4.alphacoders.com/273/thumb-1920-273256.jpg"); 
   
    background-size: cover;


}

.corpo .container {
    height: 500px;
    align-items: center;
}

/* .corpo .container .conteudoInic {
    display: flex;
    width: 35%;
    color: black;
    justify-content: center;
    justify-items: center;
    font-size: 60px;
    text-align: center;
    font-weight: bolder;

}
 */

.corpo .container .conteudoInic {
    width: 40%;
    height: 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 40px;
    background: rgba(244, 217, 217, 0.23);
    border-radius: 30px;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    color: #f5f5f5;
    font-weight: bolder;
}

.contentInText{
    width: 90%;
    font-size: 70px;
}




.big {
    margin: auto;
    height: 100%;
    background: #01468B;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    color: white;

}

.sobre  h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}


.trio {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    

}

.big .container {
    flex-direction: column;
    justify-content: center;
}

.caixaJogador img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 3px #FFE500;
}

.big .container .boxes {
    display: flex;
}

.big p {
    text-align: center;
}

.caixaJogador {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    color: white;
}

.caixaJogador h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.caixaJogador p {
    padding: 10px;
    width: 90%;
    text-align: left;

}

.sobre {

    height: 300px;
    background: #ffffff;
    display: flex;
    color: black;

}

.sobre .container {
    flex-direction: column;
    height: 80%;
}



.conteudoSobre {
    height: 80%;
    margin: 20px;

}

.conteudoSobre p {
    font-size: 20px;
    text-align: justify;
    margin: auto;

    /* border: 10px rgb(0, 255, 187) solid; */
}

.goldblooded {

    height: 600px;
    background: #ffffff;
    display: flex;
    

}

.goldblooded .container {
    flex-direction: column;
    height: 90%;
}


.goldblooded h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.conteudoGold {
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cardV {
    height: 80%;
    width: 500px;
    border: 2px skyblue solid;
    background: black;
}

.footer {
    margin: auto;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer .container {
    flex-direction: column;
    height: 80%;
}

.content p {
    display: flex;
    justify-content: center;
    margin: 20px;
    /*border: 10px rgb(81, 255, 0) solid; */

}


/* cadastor/login */

.banner {
    height: 100vh;
    background: #01468B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: black;
    border-bottom: 5px #FFEA27 solid;
    text-align: center;
}

.banner .container {
    display: flex;
    justify-content: center;
    justify-items: center;
}


.card {


    height: fit-content;
    width: 800px;
    justify-content: center;
    justify-items: center;
    padding: 10px;
}

.card .container {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid #FFEA27;
    

}

.formulario {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90%;
    justify-items: center;
    justify-content: space-between;
    padding: 20px;


}

.card h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.formulario .tpCampo {
    font-size: 20px;
    font-weight: bold;


}


input {
    margin: 10px;
    border: 2px solid #efc22c;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    height: 20px;
    font-size: 20px;

}

.btn {
    border: 0;
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #1c5ace;
    width: 130px;
    align-self: center;
    margin-top: 5px;
    
}

