/* 

 #B3A100;
 #FFEA27;
 #FFE500;
 #2700B3;
 #3800FF;
 #1c5ace;

 background: #01468B;

logo 

#fcfcfc;
#efc22c;
#f0cf4b;
#f2dc6a;
#f4ea89;


*/

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    font-family: 'Poppins', Verdana, sans-serif;

}

*,
/* A CSS rule that is used to make sure that the padding and border of an element are included in the
total width and height of that element. */
* ::before,
::after {
    box-sizing: border-box;
}


.header {
    background: black;
    color: white;
    width: 100%;
    height: 90px;
    border-bottom: 2px #FFE500 solid;
    box-shadow: px 3px 2px 3px #FFE500;

}

.container {
    display: flex;
    width: 90%;
    margin: auto;
    height: fit-content;
}

.header .container {
    align-items: center;
    justify-content: space-between;

}

.nav {
    display: flex;
    width: 100%;
}

.header a {
    text-decoration: none;
    color: white;

}


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFE500;
    /* 
    margin-top: 5px; */
}


.login img {
    width: 65px;
    padding: 2px;
}

.navLinks {
    display: flex;
    width: 20%;
    justify-items: center;
    text-align: center;
    justify-content: space-between;

}


.navLinksI {
    display: flex;
    width: 40%;
    justify-items: center;
    text-align: center;
    justify-content: space-between;

}

.navLinksI .agora {
    display: flex;
    padding-top: 32px;

}

.navLinks .agora {
    display: flex;
    padding-top: 32px;

}

.titulo {
    color: white;
    width: fit-content;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 35px;
    background-image: linear-gradient(45deg, #f4ea89, #FFE500);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* INICIO carousel */

.carousel {
    height: fit-content;
    
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    margin-top:90px;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide .imag {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background-image: url("https://images4.alphacoders.com/273/thumb-1920-273256.jpg"); 
   background-size: cover;
    

}

.slide .imag2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    background-image: url("https://www.nba.com/warriors/sites/warriors/files/gold_blooded_1280x720.jpg"); 
   background-size: cover;
    

}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carouselBt {
    position: absolute;
    background: none;
    z-index: 2;
    order: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background: rgba(0, 0, 0, .1);
}


.carouselBt:hover,
.carouselBt:focus {

    color: white;
    background-color: rgba(0, 0, 0, .2);

}

.carouselBt:focus {
    outline: 1px solid black;
}

.carouselBt.prev {

    left: 1rem;

}

.carouselBt.next {

    right: 1rem;

}


/* fim carousel */ 


.corpo {
    color: white;
    /*    background-image: url("https://wallpapercave.com/wp/wp2299908.jpg");
    background-image: url("https://vafloc02.s3.amazonaws.com/isyn/images/f572/img-2400572-f.jpg");
    background-image: url("https://images4.alphacoders.com/273/thumb-1920-273256.jpg");
 */
    height: 100vh;
    background-size: cover;
    
    border-bottom: 2px #FFE500 solid;
}




.corpo .container {
    height: 500px;
    align-items: center;
}

/* .corpo .container .conteudoInic {
    display: flex;
    width: 35%;
    color: black;
    justify-content: center;
    justify-items: center;
    font-size: 60px;
    text-align: center;
    font-weight: bolder;

}
 */

.corpo .container .conteudoInic {
    width: 40%;
    height: 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 40px;
    background: rgba(244, 217, 217, 0.23);
    border-radius: 30px;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    color: #f5f5f5;
    font-weight: bolder;
    
}

.contentInText {
    width: 90%;
    font-size: 70px;
   
}




.big {
    margin: auto;
    height: 100%;
    background: #01468B;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    color: white;

}

.sobre h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}


.trio {
    text-align: center;
    font-size: 30px;
    margin: 20px;


}

.big .container {
    flex-direction: column;
    justify-content: center;
}

.caixaJogador img {
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 2px 3px #FFE500;
}

.big .container .boxes {
    display: flex;
}

.big p {
    text-align: center;
}

.caixaJogador {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    color: white;
}

.caixaJogador h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.caixaJogador p {
    padding: 10px;
    width: 90%;
    text-align: left;


}

.sobre {

    height: 300px;
    background: black;
    display: flex;
    color: white;
    border-top: 2px #FFE500 solid;
    border-bottom: 2px #FFE500 solid;

}

.sobre .container {
    flex-direction: column;
    height: 80%;
}



.conteudoSobre {
    height: 80%;
    margin: 20px;

}

.conteudoSobre p {
    font-size: 20px;
    text-align: justify;
    margin: auto;

    /* border: 10px rgb(0, 255, 187) solid; */
}

.goldblooded {

    height: 90vh;
    background: #ffffff;
    display: flex;


}

.goldblooded .container {
    flex-direction: column;
    height: 90%;
}


.goldblooded h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.conteudoGold {
    height: 90%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.ajustContent {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background: black;
    box-shadow: 0px 0px 2px 2px #FFE500;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.cardV {
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: right;

}

.vdtx {
    width: 50%;
    height: 349px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.cardV img {
    height: 60vh;
    width: 50vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    display: block;

}


.cardV iframe {
    height: 60vh;
    width: 50vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.vd{
    display: none;
}



.vdTexto {
    height: 50%;
    width: 100;
    padding: 10px;
}

.footer {
    margin: auto;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer .container {
    flex-direction: column;
    height: 80%;
}

.content p {
    display: flex;
    justify-content: center;
    margin: 20px;
    /*border: 10px rgb(81, 255, 0) solid; */

}


/* cadastor/login */

.banner {
    height: 100vh;
    background: #01468B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: black;
    border-bottom: 5px #FFEA27 solid;
    text-align: center;
}

.banner .container {
    display: flex;
    justify-content: center;
    justify-items: center;
}


.card {

    height: fit-content;
    width: 800px;
    justify-content: center;
    justify-items: center;
    padding: 10px;
}

.card .container {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid #FFEA27;


}

.formulario {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90%;
    justify-items: center;
    justify-content: space-between;
    padding: 20px;


}

.card h2 {
    font-size: 35px;
    padding-bottom: 10px;
}

.formulario .tpCampo {
    font-size: 20px;
    font-weight: bold;


}


input {
    margin: 10px;
    border: 0;
    border-bottom: 2px solid #efc22c;
    padding: 20px;
    text-align: center;
    height: 40px;
    font-size: 20px;
}


.btn {
    border: 0;
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #1c5ace;
    width: 150px;
    height: 50px;
    align-self: center;
    margin-top: 25px;
    cursor:pointer;

}
